@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fira+Code:wght@300..700&family=Share+Tech&display=swap");

@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
}

a {
  text-decoration: inherit;
  cursor: pointer;
}

/* Default font for Latin */
body {
  margin: 0;
  /* font-family: "Fira Code", "Noto Kufi Arabic" "Share Tech", sans-serif; */
}

/* Your font variables if needed */
:root {
  --font-share: "Share Tech", sans-serif;
  --font-fira: "Fira Code", monospace;
  --font-cairo: "Cairo", sans-serif;
}

/* Example usage in your app */
body {
  font-family: var(--font-fira);
  @theme {
    --font-share: Share Tech, sans-serif;
  }
}

:lang(ar) {
  font-family: var(--font-cairo);
}

.arrow-hover:hover .right {
  position: relative;
  left: 2px;
  transition: all 0.3s ease;
}

.arrow-hover:hover .left {
  position: relative;
  right: 2px;
  transition: all 0.3s ease;
}
